{{#items}}
<tr class="clickable-row {{rowclasses}}" {{{dragdrop}}} data-id="{{guid}}" data-filename="{{name}}" data-eaction="{{eaction}}">
	<td class="uk-table-shrink" data-order="{{sortbucket}}"></td>
	<td class="uk-text-truncate ifm-filename-cell">
		<a href="{{{link}}}" tabindex="0" id="{{guid}}" class="ifmitem uk-link-reset" {{#preview}}data-preview="image"{{/preview}} data-type="{{type}}">
			<span class="{{icon}}"></span>
			{{linkname}}
		</a>
	</td>
	{{#config.showlastmodified}}
	<td class="uk-visible@s ifm-date-cell" data-order="{{lastmodified}}">
		<div class="ifm-date-primary">{{lastmodified_primary}}</div>
		{{#lastmodified_detail}}
		<div class="ifm-date-detail">{{lastmodified_detail}}</div>
		{{/lastmodified_detail}}
		<div class="ifm-date-secondary">{{lastmodified_relative}}</div>
	</td>
	{{/config.showlastmodified}}
	{{#config.showfilesize}}
	<td class="uk-visible@s uk-text-right ifm-size-cell" data-order="{{size_raw}}">{{size}}</td>
	{{/config.showfilesize}}
	<td class="ifm-actions-cell">
		<div class="ifm-row-actions" role="group" aria-label="File actions">
			{{#button}}
			<a tabindex="0" name="do-{{action}}" data-id="{{guid}}" class="uk-icon-button uk-button-default uk-border-circle ifm-icon-button" uk-tooltip="title: {{title}}">
				<span class="{{icon}}"></span>
			</a>
			{{/button}}
		</div>
	</td>
</tr>
{{/items}}
