<div class="uk-modal-header">
  <h3 class="uk-modal-title uk-text-center">IFM {{i18n.login}}</h3>
</div>
<div class="uk-modal-body ifm-modal-body">
  <form id="loginForm" class="uk-form-stacked uk-width-1-1" method="post">
    <div id="loginError" class="uk-alert uk-alert-danger uk-hidden" uk-alert>{{error}}</div>
    <div class="uk-margin">
      <label class="uk-form-label" for="inputLogin">{{i18n.username}}</label>
      <div class="uk-form-controls">
        <input type="text" name="inputLogin" id="inputLogin" class="uk-input uk-form-large uk-border-pill" placeholder="{{i18n.username}}" required="" autofocus="">
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="inputPassword">{{i18n.password}}</label>
      <div class="uk-form-controls">
        <input type="password" name="inputPassword" id="inputPassword" class="uk-input uk-form-large uk-border-pill" placeholder="{{i18n.password}}" required="">
      </div>
    </div>
    <div class="uk-margin">
      <button id="buttonLogin" class="uk-button uk-button-primary uk-button-large uk-border-pill uk-width-1-1" type="submit">{{i18n.login}}</button>
    </div>
  </form>
</div>
