<form id="formCopyMove">
	<fieldset>
		<div class="uk-modal-body ifm-modal-body">
			<div class="uk-margin">
				<label class="uk-form-label" for="copyMoveTree">{{i18n.select_destination}}:</label>
				<div id="copyMoveTree" class="uk-card uk-card-default uk-card-body uk-padding-small">
					<div class="uk-text-center"><span class="icon icon-spin5 animate-spin"></span></div>
				</div>
			</div>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<button type="button" class="uk-button uk-button-default uk-border-pill" id="copyButton">{{i18n.copy}}</button>
			<button type="button" class="uk-button uk-button-default uk-border-pill" id="moveButton">{{i18n.move}}</button>
			<button type="button" class="uk-button uk-button-danger uk-border-pill" id="cancelButton">{{i18n.cancel}}</button>
		</div>
	</fieldset>
</form>
