<form id="formExtractFile">
	<div class="uk-modal-body ifm-modal-body">
		<fieldset>
			<legend class="uk-legend uk-margin-small-bottom">{{i18n.extract_filename}} {{filename}}:</legend>
			<div class="uk-margin-small">
				<label class="uk-flex uk-flex-middle uk-grid-small uk-margin-remove" uk-grid>
					<div><input class="uk-radio" type="radio" name="extractTargetLocation" value="./" checked="checked"></div>
					<div class="uk-width-expand"><input class="uk-input uk-form-small" type="text" placeholder="Current directory" readonly></div>
				</label>
			</div>
			<div class="uk-margin-small">
				<label class="uk-flex uk-flex-middle uk-grid-small uk-margin-remove" uk-grid>
					<div><input class="uk-radio" type="radio" name="extractTargetLocation" value="./{{destination}}"></div>
					<div class="uk-width-expand"><input class="uk-input uk-form-small" type="text" placeholder="{{destination}}" readonly></div>
				</label>
			</div>
			<div class="uk-margin-small">
				<label class="uk-flex uk-flex-middle uk-grid-small uk-margin-remove" uk-grid>
					<div><input class="uk-radio" type="radio" name="extractTargetLocation" value="custom"></div>
					<div class="uk-width-expand"><input id="extractCustomLocation" type="text" class="uk-input uk-form-small" placeholder="Custom location" value=""></div>
				</label>
			</div>
		</fieldset>
	</div>
	<div class="uk-modal-footer uk-text-right">
		<button type="button" class="uk-button uk-button-primary uk-border-pill" id="buttonExtract">{{i18n.extract}}</button>
		<button type="button" class="uk-button uk-button-default uk-border-pill" id="buttonCancel">{{i18n.cancel}}</button>
	</div>
</form>
