<form id="formDeleteFiles">
	<div class="uk-modal-body ifm-modal-body">
		{{#multiple}}
		<p class="uk-text-lead">{{i18n.file_delete_confirm}} <code>{{count}}</code>?</p>
		{{/multiple}}
		{{^multiple}}
		<p class="uk-text-lead">{{i18n.file_delete_confirm}} <code>{{filename}}</code>?</p>
		{{/multiple}}
	</div>
	<div class="uk-modal-footer uk-text-right">
		<button type="button" class="uk-button uk-button-danger uk-border-pill" id="buttonYes">{{i18n.delete}}</button>
		<button type="button" class="uk-button uk-button-default uk-border-pill" id="buttonNo">{{i18n.cancel}}</button>
	</div>
</form>
