<form id="formCreateDir">
	<div class="uk-modal-body ifm-modal-body">
		<fieldset>
			<div class="uk-margin">
				<label class="uk-form-label" for="dirname">{{i18n.directoryname}}:</label>
				<input class="uk-input" id="dirname" type="text" name="dirname" value="" />
			</div>
		</fieldset>
	</div>
	<div class="uk-modal-footer uk-text-right">
		<button type="button" class="uk-button uk-button-primary uk-border-pill" id="buttonSave">{{i18n.create}}</button>
		<button type="button" class="uk-button uk-button-default uk-border-pill" id="buttonCancel">{{i18n.cancel}}</button>
	</div>
</form>
