<style type="text/css">
###file:src/includes/uikit/css/uikit.min.css###
###file:src/includes/bootstrap-treeview.min.css###
###file:src/includes/datatables.min.css###
###file:src/includes/fontello-embedded.css###
###file:src/includes/animation.css###
###file:src/style.css###
</style>
