<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.24.2/dist/css/uikit.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.11/r-2.5.0/datatables.min.css"/>
<style type="text/css">
###file:src/includes/bootstrap-treeview.min.css###
###file:src/includes/fontello-embedded.css###
###file:src/includes/animation.css###
###file:src/style.css###
</style>
